@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Maven+Pro&family=Poppins:wght@200;300&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --primary-color: #cd9023;
  --text-grey: #3f4954;
  --white: #ffffff;
  --background-primary: #f8f8f0;
  --black: rgb(0, 0, 0);

  /* fonts */

  --dancing-script: "Dancing Script", cursive;
  --maven-pro: "Maven Pro", sans-serif;
  --poppins: "Poppins", sans-serif;
}

/* Global styling */

html {
  scroll-behavior: "smooth";
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

h1 {
  font-size: 2.8rem;
  font-family: var(--maven-pro);
}

h2 {
  font-size: 2rem;
  font-family: var(--poppins);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--poppins);
}

p {
  letter-spacing: 1px;
  word-spacing: 2px;
}

button.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  font-size: 1rem;
  cursor: pointer;
}

body {
  background: var(--background-primary);
  font-family: var(--poppins);
}

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.container-custom {
  padding: 5vh 10vw;
  justify-content: center;
  align-items: center;
}

.section-title {
  padding-top: 4rem;
  padding-bottom: 0.5rem;
  border-bottom: solid 4px var(--primary-color);
  white-space: nowrap;
}

.btn-md {
  border: none;
  padding: 0.3rem 1.5rem;
  font-family: var(--maven-pro);
  letter-spacing: 1px;
}

@media only screen and (max-width: 930px) {
  .btn-md {
    padding: 0.2rem 0.8rem;
    font-size: 1rem !important;
  }
}

/* NAVIGATION */

.nav {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 5%;
  z-index: 100;
  background: transparent;
  padding: 0 2rem;
  width: 100%;
  height: 4rem;
  min-height: 7vh;
  overflow: hidden;
  transition: 0.4s ease-in;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.nav .nav-menu {
  justify-content: space-between;
  width: 70%;
}

.nav .nav-menu .nav-brand a {
  font-size: 2rem;
  padding: 1rem 0;
  display: block;
  color: var(--primary-color);
  font-weight: 600;
  font-family: var(--dancing-script);
}

.nav .nav-menu .nav-items {
  display: flex;
}

.nav .nav-menu .nav-items .nav-link {
  padding: 1.4rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: var(--poppins);
  text-transform: uppercase;
}

.nav .nav-menu .nav-items .nav-link a {
  color: var(--white);
}

.nav .nav-menu .nav-items .nav-link:hover a {
  color: var(--primary-color);
  cursor: pointer;
}

.nav .nav-menu .social {
  padding: 1.4rem;
}

.nav .nav-menu .social i {
  padding: 0.2rem;
  color: var(--white);
}

.nav .nav-menu .social i:hover {
  color: var(--primary-color);
}

.nav .nav-menu .toggle-collapse {
  position: absolute;
  display: none;
  top: 40%;
  right: 5%;
  color: var(--white);
  transform: scale(1.3);
}

/* SCROLL ACTIVE ADDED */

nav.scroll-active {
  top: 0%;
  background: var(--background-primary);
}

nav.scroll-active .nav-menu .nav-items .nav-link a,
nav.scroll-active .nav-menu .social i {
  color: var(--text-grey);
}

nav.scroll-active .nav-menu .toggle-collapse {
  color: var(--text-grey);
}

/* MOBILE NAV */

.mobile-nav {
  position: fixed;
  top: 0;
  left: 110%;
  height: 100%;
  width: 50%;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--black);
  transition: 0.5s ease-in-out;
}

.mobile-nav.active {
  left: 50%;
  box-shadow: rgba(0, 0, 0, 0.2) -50px 0px 20px 20px;
}

.moblie-nav .nav-menu {
  left: 0;
}

.mobile-nav .nav-menu .nav-items {
  padding-left: 0 !important;
  display: flex;
  flex-direction: column;
}

.mobile-nav .nav-menu .nav-items .nav-link {
  padding: 1rem 0;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-family: var(--maven-pro);
  border-bottom: 1px solid var(--text-grey);
}

.mobile-nav .social {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.mobile-nav .social i {
  color: var(--text-grey);
  padding: 0 0.5rem;
}

nav.active .mob-toggle {
  position: absolute;
  top: 5%;
  right: 7%;
  transform: scale(1.5, 1.3);
}

nav.active .mob-toggle i {
  color: var(--white);
}

/* END NAVIGATION */

/* MAIN CONTENT */

/* DOWN ARROW ANIMATION */

main .intro-title .bottom-arrow img {
  position: absolute;
  color: white;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
  height: 5rem;
  width: 5rem;
  bottom: 4%;
  transition: 1s;
  animation: slidein 1.5s infinite;
}

@keyframes slidein {
  from {
    bottom: 4%;
  }

  50% {
    bottom: 0%;
    opacity: 0;
  }

  to {
    bottom: 4%;
  }
}

main .intro-title {
  position: relative;
  background: url(../img/bg.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
}

main .intro-title .site-background {
  padding-top: 28vh;
  text-align: center;
  color: var(--white);
}

main .intro-title h1 {
  margin: 1.5rem;
}

main .intro-title p {
  font-size: 1.2rem;
  margin-bottom: 3rem;
  font-family: var(--maven-pro);
}

main .intro-title .btn {
  margin: 1.8rem;
  background: var(--primary-color);
}

main .intro-title .btn:hover {
  background: transparent;
  color: var(--white);
  border: 1px solid var(--primary-color);
}

/* ABOUT SECTION */

main .about .location {
  display: flex;
  flex-wrap: wrap;
  padding: 20vh 0;
}

main .about .location .carousel {
  width: 50%;
}

main .about .location .address {
  font-family: var(--poppins);
  color: var(--white);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5%;
  width: 50%;
  background: #080606;
}

main .about .location .address address {
  font-size: 1.2rem;
  text-align: center;
  padding: 1.3rem 0;
}

/* MENU SECTION */

main .menu .container-custom .btn-container {
  /* overflow-x: scroll; */
  display: flex;
  padding-top: 2.5rem;
}

main .menu .container-custom .btn-container .btn-filter {
  font-size: 1.2rem;
  background: transparent;
  border: solid 1px var(--primary-color);
  border-radius: 5px;
  margin: 0 0.5rem;
}

main .menu .container-custom .btn-container .btn-filter:hover,
main .menu .container-custom .btn-container .btn-filter:active {
  background: var(--primary-color);
  color: var(--white);
}

main .menu .container-custom .section-center {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem 2rem;
}

main .menu .container-custom .section-center .menu-item {
    display: grid;
    grid-template-columns: 35% 65%;
}


main .menu .container-custom .section-center .menu-item .photo-container {
    height: 150px;
    overflow: hidden;
    border: 0.3rem solid var(--primary-color);
    border-radius: 5px;
}

main 
.menu 
.container-custom 
.section-center 
.menu-item 
.photo-container 
.photo {
    width: 100%;
    height: inherit;
    object-fit: cover;
    transition: 0.3s ease-in-out;
}

main 
.menu 
.container-custom 
.section-center 
.menu-item 
.photo-container 
.photo:hover {
    transform: scale(1.2);
}

main 
.menu 
.container-custom 
.section-center 
.menu-item 
.item-info 
header {
  text-transform: capitalize;
  justify-content: space-between;
  border-bottom: 0.25px var(--text-grey) dotted;
}

main 
.menu 
.container-custom 
.section-center 
.menu-item
.item-info 
header 
.add-cart {
  position: relative;
  border: none;
  border-radius: 50%;
  background-color: #ffc403;
  text-align: center;
  color: var(--white);
  font-size: 2.5rem;
  padding: 0.8rem;
  height: 2.5rem;
  width: 2.5rem;
  margin-bottom: 0.5rem;
  box-shadow: var(--text-grey) 1px 2px 10px;
}

main
  .menu
  .container-custom
  .section-center
  .menu-item
  .item-info
  header
  .add-cart::before {
  content: "+";
  position: absolute;
  top: -20%;
  left: 16%;
}

main 
.menu 
.container-custom 
.section-center 
.menu-item 
.item-info {
  padding: 0 3rem;
}

main 
.menu 
.container-custom 
.section-center 
.menu-item 
.item-info 
header 
.price {
  color: var(--primary-color);
}

/* MENU END */



/* RESERVATION */

main .reservation .container-custom .form-wrapper {
  width: 100%;
  padding: 10%;
  background: transparent;
  border-radius: 1rem;
}

main .reservation .container-custom .form-wrapper form .form-row {
  margin: 2rem 0;
  display: grid !important;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  grid-gap: 1rem;
}

main 
.reservation 
.container-custom
.form-wrapper 
form 
.form-row 
.input-container {
  position: relative;
  width: 100%;
}

main 
.reservation 
.container-custom
.form-wrapper 
form 
.form-row 
.input-container label {
  font-family: var(--poppins);
  color: var(--text-grey);
  position: absolute;
  top: 50%;
  left: 5%;
  transform: translateY(-50%);
  transition: 0.4s ease-in-out;
  pointer-events: none;
}

main 
.reservation 
.container-custom
.form-wrapper 
form 
.form-row 
.input-container input:focus ~ label,
main 
.reservation 
.container-custom
.form-wrapper 
form 
.form-row 
.input-container input:valid ~ label {
  top: -1px;
  left: 2%;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--primary-color);
  background: var(--background-primary);
  padding: 0 5px;
}

main .reservation .container-custom .form-wrapper form .form-row input {
  border: solid 1px var(--primary-color);
  border-radius: 5px;
  background: #f9f9f9;
  padding: 1rem;
  width: inherit;
  outline: none;
}

main .reservation .container-custom .form-wrapper form .form-row input:focus {
  border: none;
  box-shadow: #1a73e8 0px 0px 1px 1px;
}

main .reservation .container-custom .form-wrapper .btn-reservation {
  border: none;
  background: var(--black);
  color: var(--white);
  padding: 0.5rem;
  transition: 0.3s;
}

main .reservation .container-custom .form-wrapper .btn-reservation:hover {
  background: transparent;
  border: 1px solid var(--black);
  color: var(--black);
}

#date::before {
  content: "Date :";
  margin-right: 0.6rem;
  color: var(--text-grey);
  font-family: var(--poppins);
  pointer-events: none;
}

#time::before {
  content: "Time :";
  margin-right: 0.6rem;
  color: var(--text-grey);
  font-family: var(--poppins);
  pointer-events: none;
}

/* CONTACT */

.contact-wrapper {
  padding: 5rem 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--poppins);
}

.contact-item {
  text-align: center;
  padding: 1rem 2rem;
  background: #f4f4f4;
  justify-content: space-around;
  height: 15rem;
  width: 20rem;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 1px 5px 10px;
  transition: transform 0.3s ease-in-out;
}

.contact-item:hover {
  transform: scale(1.1);
}

.contact-item header {
  font-size: 1.7rem;
  color: var(--primary-color);
}

.socials {
  margin: 0 auto;
}

.socials i {
  padding: 0.8rem;
  color: var(--text-grey);
  transform: scale(1.5);
}

.socials i:hover {
  color: var(--primary-color);
}


/* END MAIN CONTENT */

/* FOOTER CONTENT */

footer.footer{
    background: #0f0f0f;
    color: var(--white);
    align-items: center;
    height: 100%;
}

footer.footer .container-custom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 5rem;
}


footer.footer .container-custom .footer-item{
    justify-content: center;
    align-items: center;
    width: 20rem;
    height: 100%;

}

footer.footer .container-custom .footer-item p{
    color: var(--text-grey);
}

footer.footer .container-custom .insta-img img{
    height: 5rem;
    width: 5rem;
    object-fit: cover;
    margin: .2rem;
}

footer.footer .container-custom .follow i{
  transform: scale(1.5);
  padding: 1rem .5rem;
  color: var(--text-grey);
}

footer.footer .container-custom .follow i:hover{
  color: var(--primary-color);
}

footer.footer .rights{
  padding: 1rem;
  color: var(--text-grey);
}


/* media queries */

@media only screen and (max-width: 1360px) {
  .nav .nav-menu {
    width: 100%;
  }
}

@media only screen and (max-width: 786px) {

    /* NAVIGATON */

  .nav .nav-menu .toggle-collapse {
    display: initial;
    z-index: 99;
  }

  .nav .nav-menu .nav-items,
  .nav .nav-menu .social {
    display: none;
  }

  /* SITE INTRO */

  main .intro-title .site-background {
    padding-top: 20vh;
  }

/* ABOUT SECTION */

  main .about .container-custom .address {
    padding: 2vh !important;
  }

/* END ABOUT SECTION */


/* MENU SECTION */

  main .menu .container-custom .btn-container {
    display: none;
  }

  main .menu .container-custom .section-center .menu-item {
    grid-template-columns: 100%;
    max-width: 20rem;
  }

  main .menu .container-custom .section-center .menu-item .photo-container {
    height: 200px;
  }

  main .menu .container-custom .section-center .menu-item .item-info {
    padding: 2rem 0;
  }

/* END MENU SECTION */


/* RESERVATION SECTION */

  main .reservation .container-custom .form-wrapper {
    padding: initial;
  }

  main .reservation .container-custom .form-wrapper form .form-row {
    grid-template-columns: 1fr;
  }

  
}

@media only screen and (max-width: 1240px) {
  main .about .location {
    flex-direction: column;
  }

  main .about .location .carousel,
  main .about .location .address {
    width: 100%;
  }

  main .about .location .address {
    margin-top: 2rem;
    padding: 5vh;
  }

  main .menu .container-custom .section-center {
    grid-template-columns: 1fr;
  }

  footer.footer .container-custom{
    grid-template-columns: 1fr;
    grid-gap: 4rem;
  }
}
